/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte geral do site */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #010102;
    color: #111;
    overflow-x: hidden; /* Impede o scroll horizontal */
}

/* Imagem de fundo */
.foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Usando a altura total da tela */
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

/* Navegação */
nav {
    position: fixed; /* Fixa o menu no topo */
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 20px 10%; /* Espaçamento lateral */
    z-index: 10;
}

/* Logo da Finanfitness */
nav .logo {
    width: 120px;
    height: auto;
    margin-right: 30px;
}

/* Estilo do menu de navegação */
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

/* Estilos individuais para os itens do menu */
li {
    margin: 0 20px;
}

/* Estilo dos links */
a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #3c9ada; /* Cor de destaque */
}

/* Adicionando um pouco de espaçamento abaixo do header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

section {
    margin-top: 20%;
    margin-left: 5%;
    color: white;
    font-size: 40px;
}
p {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.texto-menor {
    font-size: 20px; /* Tamanho menor */
    color: #ffffff; /* Cor mais suave */
    text-align: center; /* Alinha o texto ao centro */
    margin-top: 10px; /* Distância entre o título e o texto */
    margin-right: 80%
}
footer {
    color:white;
    margin-top: 16%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
}
/*   #video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Faz o vídeo cobrir toda a tela sem distorcer */
  /*          z-index: -1; /* Coloca o vídeo atrás do conteúdo */
/*        }